body {
  background-color: #fef5da;
  text-align:center;
}

.site-logo {
  /* align-items: center; */
  width: 20%;
  height: 20%;
}

.site-header {
  /* align-items: center; */
  color: orange;
}

ul{
  list-style:none;
  margin:0;
  padding:0;
  }